#ignorer les fichiers invisibles OS X
.DS_Store

#
NO SYNC

#ignorer tout le contenu du dossier Xilinx ISE
VHDL/*

#sauf les VHDL, les configs de pins, les configs de testbench et les bitstreams
!VHDL/*.vhd
!VHDL/*.ucf
!VHDL/*.wcfg
!VHDL/*.bit
